<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} ─ {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Title }} ─ {{ .Site.Title }}" />
    <meta name="author" content="{{ .Site.Title }}" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="/assets/img/logos/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/img/logos/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/logos/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/img/logos/favicon-16x16.png"
    />
    {{ $styleGeneral := resources.Get "css/style-general.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styleGeneral.RelPermalink }}" integrity="{{ $styleGeneral.Data.Integrity }}">
    
    {{ $scriptModoOscuro := resources.Get "js/script-modo-oscuro.js" | minify | fingerprint }}
    <script src="{{ $scriptModoOscuro.RelPermalink }}" integrity="{{ $scriptModoOscuro.Data.Integrity }}"></script>
    
    {{ $scriptNavbar := resources.Get "js/script-navbar.js" | minify | fingerprint }}
    <script src="{{ $scriptNavbar.RelPermalink }}" integrity="{{ $scriptNavbar.Data.Integrity }}" defer></script>
    <meta property="og:title" content="{{ .Title }} ─ {{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Title }} ─ {{ .Site.Title }}" />
    <meta
      property="og:image"
      content="{{ .Site.BaseURL }}assets/img/logos/imagen-og.jpg"
    />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }} ─ {{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Title }} ─ {{ .Site.Title }}" />
    <meta
      name="twitter:image"
      content="{{ .Site.BaseURL }}assets/img/logos/imagen-og.jpg"
    />
    <link rel="canonical" href="{{ .Permalink }}" />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap.xml"
    />
  </head>
  <body>
    {{ partial "header.html" . }}

    <div class="container-1">
      <div class="contenido">
        <h1>DMCA Policy ─ Kasnia Project</h1>

        <div class="separador"></div>

        <div class="justificado">
          <p><b>Effective Date</b>: 10/08/2025</p>

          <p>
            At Kasnia Project, we respect the intellectual property rights of
            others and expect our users to do the same. In accordance with the
            <b>Digital Millennium Copyright Act</b> ("DMCA"), we have adopted
            the following policy to address copyright infringement claims that
            may occur on our website.
          </p>

          <div class="separador"></div>

          <h2 class="izquierda">1. Notification of Infringement</h2>

          <p>
            If you are a copyright owner or are authorized to act on behalf of
            one, and you believe in good faith that any material available on
            <i>Kasnia Project</i> infringes your copyright, you may submit a
            written notice requesting that the infringing material be removed or
            access to it be disabled.
          </p>

          <p>
            Your notification <b>must</b> include the following information:
          </p>

          <ol>
            <li>
              Your full name, physical address, telephone number, and email
              address.
            </li>
            <li>
              A clear identification of the copyrighted work you claim has been
              infringed.
            </li>
            <li>
              The URL or specific location on <i>Kasnia Project</i> where the
              allegedly infringing material is located.
            </li>
            <li>
              A statement, made under penalty of perjury, that you believe in
              good faith that the use of the material is not authorized by the
              copyright owner, its agent, or the law.
            </li>
            <li>
              A statement that the information in your notification is accurate
              and that you are the copyright owner or authorized to act on
              behalf of the copyright owner.
            </li>
            <li>Your physical or electronic signature.</li>
          </ol>

          <p>
            Please send notifications to:<br />
            <b>Email:</b>
            <a href="mailto:kasniaproject@gmail.com" class="enlinea"
              >kasniaproject@gmail.com</a
            >
          </p>

          <div class="separador"></div>

          <h2 class="izquierda">2. Response and Content Removal</h2>

          <p>
            Upon receiving a valid notification, we will review the claim and,
            if appropriate, remove or disable access to the allegedly infringing
            material. We will also notify the user responsible for the content.
          </p>

          <div class="separador"></div>

          <h2 class="izquierda">3. Counter-Notification</h2>

          <p>
            If you believe that your content was removed or disabled by mistake
            or misidentification, you may send us a written
            counter-notification. This counter-notification must include:
          </p>

          <ol>
            <li>
              Your full name, physical address, telephone number, and email
              address.
            </li>
            <li>
              Identification of the material that has been removed or disabled
              and the location where it appeared before removal.
            </li>
            <li>
              A statement, under penalty of perjury, that you believe in good
              faith that the material was removed due to a mistake or
              misidentification.
            </li>
            <li>
              A statement that you consent to the jurisdiction of the competent
              courts in your location.
            </li>
            <li>Your physical or electronic signature.</li>
          </ol>

          <div class="separador"></div>

          <h2 class="izquierda">4. Repeat Infringer Policy</h2>

          <p>
            <i>Kasnia Project</i> will, in appropriate circumstances, terminate
            the accounts of users who repeatedly infringe the copyrights of
            others.
          </p>

          <div class="separador"></div>

          <h2 class="izquierda">5. Contact</h2>

          <p>
            If you have any questions regarding this DMCA Policy, please contact
            us at:<br />
            <b>Email:</b>
            <a href="mailto:kasniaproject@gmail.com" class="enlinea"
              >kasniaproject@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>