<header>
  <div class="nav-izquierda">
    <a href="{{ .Site.BaseURL }}">Página principal</a>
  </div>
  <div class="nav-derecha">
    <div class="dropdown">
      <button
        class="dropdown-toggle"
        aria-expanded="false"
        aria-controls="novelas-dropdown"
      >
        Novelas
        <svg class="dropdown-icon" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M7 10l5 5 5-5z" />
        </svg>
      </button>
      <div class="dropdown-menu" id="novelas-dropdown">
        {{ $novelas := where .Site.Pages "Section" "novelas" }}
        {{ $novelasActivas := where $novelas "Params.estado" "activa" }}
        {{ $novelasPausadas := where $novelas "Params.estado" "pausada" }}
        {{ $novelasTerminadas := where $novelas "Params.estado" "terminada" }}
        
        {{ if gt (len $novelasActivas) 0 }}
          <div class="dropdown-group">
            <button class="dropdown-subheader" data-submenu="activas">
              Activas
              <svg class="dropdown-icon" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M7 10l5 5 5-5z" />
              </svg>
            </button>
            <ul class="dropdown-submenu" id="submenu-activas">
              {{ range $novelasActivas }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
        
        {{ if gt (len $novelasPausadas) 0 }}
          <div class="dropdown-group">
            <button class="dropdown-subheader" data-submenu="pausadas">
              Pausadas
              <svg class="dropdown-icon" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M7 10l5 5 5-5z" />
              </svg>
            </button>
            <ul class="dropdown-submenu" id="submenu-pausadas">
              {{ range $novelasPausadas }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
        
        {{ if gt (len $novelasTerminadas) 0 }}
          <div class="dropdown-group">
            <button class="dropdown-subheader" data-submenu="terminadas">
              Terminadas
              <svg class="dropdown-icon" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M7 10l5 5 5-5z" />
              </svg>
            </button>
            <ul class="dropdown-submenu" id="submenu-terminadas">
              {{ range $novelasTerminadas }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</header>